body::before {
    content: '';
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
                url("../images/lung-by.png") no-repeat center center fixed;
    background-size: contain;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    opacity: 0.9;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(183, 115, 115, 0.15);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.upload-box h1 {
    margin-bottom: 1rem;
}

.upload-box input[type="file"] {
    margin: 1rem 0;
}

.upload-box button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.result {
    margin-top: 1.5rem;
}